@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --background-color: #030A21;
    --logo-first-color: #0E2B85;
    --logo-second-color: #0E2B85;
    --yellow-color: #ffee00;
    --gray-color: #eeeeee;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 1500px;
    margin: auto;
}

#side_social_media_icon {
    position: fixed;
    top: 150px;
    z-index: 700;
}
#side_social_media_icon li {
    padding: 8px;
    background-color: var(--white-color);
    margin: 5px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px var(--logo-second-color);
}
#side_social_media_icon li a {
    color: var(--logo-first-color);
    font-size: 22px;
}


/* Navbar */
#navbar {
    padding: 5px 20px;
    border-bottom: 1px solid var(--logo-first-color);
}
#navbar #logo img {
    width: 100%;
    height: 75px;
}

#nav_menu #contact_menu {
    background-color: var(--logo-second-color);
    padding: 13px 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#nav_menu #contact_menu a {
    text-decoration: none;
    color: var(--white-color);
}


/* Current Disabled */
#navbar #nav_main_menu ul li {
    display: none;
    padding-right: 15px;
}
#navbar #nav_main_menu ul li a {
    text-decoration: none;
    font-weight: 500;
}
.hamber {
    display: none;
}
.hamber i {
    font-size: 25px;
    cursor: pointer;
    color: var(--logo-second-color);
}
.responsive_menu {
    position: absolute;
    top: 0px;
    background-color: var(--white-color);
    width: 100%;
    left: 0;
    z-index: 999;
    text-align: center;
    height: 100vh;
    display: none;
}
.responsive_menu ul li {
    margin: 20px 0;
}
.responsive_menu ul li a {
    text-decoration: none;
}
.responsive_menu .fa-xmark {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: var(--logo-first-color);
    cursor: pointer;
}
.responsive_menu img {
    height: auto;
    width: 200px;
    margin-top: 50px;
}
/* Current Disabled */


/* Home Page */
#home_section {
    background: linear-gradient(330deg, var(--background-color) 60.44%, var(--logo-second-color) 100%);
    color: var(--white-color);
    padding-top: 30px;
    padding-bottom: 50px;
}
#home_section #learn_format_text {
    align-self: start;
    display: flex;
}
#home_section #learn_format_text h6 {
    background-color: rgba(255, 255, 255, .1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--white-color);
}
#home_section #learn_format_text h6 span {
    background-color: var(--white-color);
    padding: 2px 8px;
    color: var(--logo-first-color);
    font-weight: 600;
    border-radius: 3px;
}
#home_section #batch_start_date {
    border: 1px solid var(--white-color);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0 0 30px var(--logo-second-color);
}
#home_section img {
    width: 100%;
    filter: drop-shadow(2px 2px 30px var(--logo-second-color));
}
#home_section #batch_start_date p {
    margin-bottom: 0;
}
#home_section .batch_col_first {
    border-right: 1px solid var(--white-color);
}

/* Why Become */
#why_become_section {
    background: var(--background-color);
    color: var(--white-color);
    padding: 50px 0;
}
#why_become_section h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#why_become_three_section {
    border: 1px solid var(--white-color);
    padding: 20px;
    border-radius: 10px;
}
#why_become_three_section h4 {
    font-size: 30px;
    font-weight: 600;
    color: var(--yellow-color);
}
#why_become_three_section p{ 
    margin-bottom: 0;
}
#why_become_three_section:hover {
    box-shadow: 0 0 30px var(--logo-first-color);
}


/* About Us */
#about_navbar_section {
    background: var(--background-color);
    color: var(--white-color);
    padding: 20px 0;
    z-index: 999;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--yellow-color);
}
.about_navbar_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_navbar_menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
}
.about_navbar_menu ul li a:hover {
    color: var(--yellow-color);
}

#about {
   padding: 50px 0; 
}
#about h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

#about_four_items {
    border: 2px solid var(--logo-first-color);
    margin: 15px 0;
    padding: 10px 20px;
    height: 190px;
    border-radius: 15px;
}
#about_four_item_number {
    font-size: 40px;
    font-weight: 700;
    color: var(--logo-second-color);
}


/* Why Choose us */
#why_choose {
    background: var(--background-color);
    color: var(--white-color);
    padding: 50px 0; 
}
#why_choose h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#why_choose h2 span {
    color: var(--yellow-color);
}
#why_choose .btn {
    outline: 1px solid var(--white-color);
    color: var(--white-color);
}
#why_choose .btn:hover {
    background-color: var(--white-color);
    color: var(--logo-first-color);
    box-shadow: 0 0 30px var(--logo-first-color);
}
#why_choose .card {
    padding: 20px;
    color: #0E2B85;
}
#why_choose .card li {
    margin: 15px 0;
}

/* Comes with our course */
#our_course {
    background: var(--black-color);
    color: var(--white-color);
    padding: 50px 0; 
}
#our_course h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#our_course_four_div_two {
    margin-top: 100px;
}
#our_course_four_div_four {
    margin-top: 100px;
}

/* Curriculam */
#curriculam {
    background: var(--background-color);
    color: var(--white-color);
    padding: 50px 0; 
}
#curriculam h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
.module_number{
    display: flex;
}
.module_number h5 {
    padding: 10px 20px;
    border: 2px solid var(--yellow-color);
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 20px var(--logo-first-color);
}

/* Instruction */
#instructor {
    padding: 50px 0; 
}
#instructor h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#instructor h4 {
    color: var(--logo-second-color);
    font-weight: 600;
    font-size: 30px;
}
#instructor ul li {
    margin: 8px 0;
}
#instructor ul li i {
    color: var(--logo-first-color);
    font-weight: 600;
}

/* Testimonial */
#testimonial {
    padding: 50px 0;
}
#testimonial h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}


/* Examination */
#examination {
    padding: 50px 0;
}
#examination h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}


/* FAQ */
#faq {
    padding: 50px 0;
}
#faq h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}
#faq_right_side {
    border: 2px dashed var(--logo-second-color);
    padding: 30px 0;
    border-radius: 10px;
    position: sticky;
    top: 80px;
}
#faq_right_side .btn {
    background-color: var(--logo-first-color);
    color: var(--white-color);
    margin-top: 20px;
}
#faq_right_side .btn:hover {
    box-shadow: 0 0 30px var(--logo-second-color);
}


/* Our Service */
#our_service {
    padding: 50px 0;
    background-color: var(--gray-color);
}
#our_service h3 {
    font-weight: 600;
}
#our_service .service_beyond_img img {
    background-color: var(--logo-first-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#our_service h5 {
    font-weight: 600;
}



/* Contact Us */
#contact_first_section {
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact_first_section h1 {
    font-weight: 600;
}
#contact_first_section .question_paragraph {
    color: var(--logo-first-color);
    font-weight: 500;
    margin-top: 15px;
    font-size: 18px;
}
#contact_first_section .btn {
    border: 2px solid var(--logo-second-color);
    padding: 10px 30px;
    font-weight: 600;
}
#contact_first_section .btn:hover {
    background-color: var(--logo-first-color);
    color: var(--white-color);
    box-shadow: 0 0 30px var(--logo-second-color);
}
#contact_second_section {
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact_second_section h3 {
    font-weight: 600;
    font-size: 35px;
}
#contact_second_section ul li i {
    font-size: 20px;
    color: var(--logo-first-color);
}
#contact_form_section {
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact_form_section h3 {
    font-weight: 600;
    color: var(--logo-first-color);
}
#contact_form_section button {
    background-color: var(--logo-first-color);
    color: var(--white-color);
}
#contact_form_section button:hover {
    box-shadow: 0 0 30px var(--logo-second-color);
}



/* Footer */
#footer {
    background-color: var(--background-color);
    padding: 30px 0;
}
#footer h2 {
    color: var(--white-color);
    font-size: 40px;
}
#footer hr {
    color: var(--white-color) !important;
    margin-top: 50px;
    margin-bottom: 30px;
}
#footer h4 {
    font-size: 18px;
    color: var(--white-color);
    margin-bottom: 25px;
    text-decoration: underline;
}
#footer #footer_quick_link ul li a{
    text-decoration: none;
    color: var(--white-color);
}
#footer #footer_phone_number ul li  {
    margin: 10px 0;
    color: var(--white-color);
}
#footer #footer_email ul li{
    margin: 10px 0;
    color: var(--white-color);
}
#footer #footer_social_media ul li {
    display: inline-block;
    margin-right: 10px;
}
#footer #footer_social_media ul li a {
    font-size: 20px;
    color: var(--white-color);
}
#copyright {
    padding: 10px 0;
    background-color: var(--black-color);
    color: var(--white-color);
}



@media only screen and (min-width: 300px) and (max-width: 500px) {
    #navbar {
        padding: 5px 0px;
    }
    #navbar #logo img {
        width: 100%;
        height: 60px;
    }
    #nav_menu #contact_menu {
        background-color: var(--logo-second-color);
        padding: 10px 15px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .hamber {
        display: none;
    }
    #navbar #nav_main_menu {
        display: none;
    }

    #home_section #batch_start_date .batch_flex {
        width: 50%;
    }
    #about h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #about_navbar_section {
        display: none;
    }
    #about_four_items {
        height: auto;
    }
    #why_become_section h2 {
        font-size: 30px;
        margin-bottom: 10px;
    } 
    #why_choose h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #why_choose .card {
        margin-top: 30px;
    }
    #our_course h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #our_course img {
        width: 130px;
    }
    #our_course_four_div_two {
        margin-top: 0px;
    }
    #our_course_four_div_four {
        margin-top: 0px;
    }
    #curriculam h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #instructor h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #instructor_info {
        display: block !important;
    }
    #instructor h4 {
        margin-top: 30px;
    }

    #testimonial h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #examination h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #faq h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }


    #our_service .service_beyond_img img {
        margin-top: 20px;
    }

    #contact_second_section h3 {
        font-size: 30px;
    }
    #contact_second_section #number_side {
        margin-top: 25px;
    }
    #contact_second_section #contact_map {
        margin-top: 25px;
    }

    #footer h2 {
        font-size: 25px;
        padding-bottom: 10px !important;
    }
    #footer #footer_phone_number {
        margin-bottom: 20px;
    }
    #footer #footer_email {
        margin-bottom: 20px;
    }
    #footer #footer_social_media {
        margin-bottom: 20px;
    }
}